html body{
    background-color: rgb(151,151,151);
}

.container{
    background: url("../images/Mobile/wallpaper.jpg");
    height: 360px;
    width: 320px;
    background-size: cover;
    margin: 0 auto;
}

.box{
    background: url("../images/Mobile/rectangle.png") no-repeat;
    width: 320px;
    height: 360px;
    margin-left: -15px;
}

.grouptext{
    height: 237px;
    width: 300px;
    padding-left: 10px;
    padding-top: 31px;
}
.title{
    font-family: 'Montserrat', sans-serif;
    height: 72px;
    width: 300px;
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    color: #4A4A4A;

}

.yes{
    font-family: 'Montserrat', sans-serif;
    width: 60px;
    height: 36px;
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    color: #4A4A4A;

}

.paragraph{
    font-family: 'Open Sans', sans-serif;
    height: 96px;
    width: 300px;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;

}


.button {
    background-color: #395EAB;
    color: whitesmoke;
    height: 40px;
    width: 300px;
    cursor: pointer;
    border: none;
    font-weight: 500;
    margin-left: 10px;
    margin-top: 60px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3);
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container{
        background: url("../images/Tablet/wallpaper.jpg");
        height: 444px;
        width: 768px;
    }

    .box{
        background: url("../images/Tablet/rectangle.png") no-repeat;
        width: 683px;
        height: 444px;
    }


    .title{
        height: 48px;
        width: 683px;
        font-size: 40px;
        line-height: 48px;
    }

    .yes{
        height: 48px;
        width: 80px;
        font-size: 40px;
        line-height: 48px;
    }

    .paragraph{
        height: 72px;
        width: 397px;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
    }

    .grouptext{
        height: 237px;
        width: 300px;
        padding-left: 19px;
        padding-top: 85px;
    }

    .button {
        height: 40px;
        width: 200px;
        margin-left: 19px;
        margin-top: 70px;
        text-align: center;
        line-height: 19px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container{
        background: url("../images/Desktop/wallpaper.jpg");
        height: 444px;
        width: 1024px;
        max-width: 1440px;
    }

    .box{
        background: url("../images/Desktop/rectangle.png") no-repeat;
        width: 683px;
        height: 444px;
    }


    .grouptext{
        height: 214px;
        width: 500px;
        padding-left: 27px;
        padding-top: 85px;
    }

    .button {
        height: 40px;
        width: 200px;
        margin-left: 27px;
        margin-top: 90px;
        text-align: center;
        line-height: 19px;
    }
}

/* Large devices (large desktops, 1444px and up) */
@media (min-width: 1444px) {
    .container{
        background: url("../images/HD/wallpaper.jpg");
        height: 444px;
        width: 1440px;
        max-width: 1440px;
    }

    .box{
        background: url("../images/HD/rectangle.png") no-repeat;
        width: 960px;
        height: 444px;
    }

    .grouptext{
        height: 214px;
        width: 500px;
        padding-left: 135px;
        padding-top: 85px;
    }

    .button {
        height: 40px;
        width: 200px;
        margin-left: 135px;
        margin-top: 90px;
        text-align: center;
        line-height: 19px;
    }
}